.content .table-card{
    text-align: center;
    height: 300px;
    background-color: #c4c4c4;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.content .new-table{
    background-color: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
}
.content .new-table b{
    font-size: 80px;
    line-height: 45px;
    padding: 30px;
    border: 5px dashed #c4c4c4;
    color: #c4c4c4;
    border-radius: 50%;
    font-weight: normal;
    user-select: none;
    transition: .3s
}
.content .new-table:hover b{
    color: #fff;
    border: 5px dashed #fff;
}